html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 50px;
}

h1 {
    font-size: 4rem;
    color: #FE595E;
    margin: 0;
}

h2 {
    margin: 1%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}

nav a {
    margin: 0 10px;
}

a {
    color: #FE595E;
}

#new-event {
    width: 100%;
    background-color: #C0D8D6;
    color: #17445C;
    font-size: 1.5rem;
    height: 80px;
    cursor: pointer;
}

#new-event:hover {
    text-decoration: underline;
}

.details-box {
    border: 1px solid #C0D8D6;
    border-radius: 5px;
    margin: 10px 0;
    padding: 20px;
}

.details-box a {
    color: #17445C !important;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.details-box a:hover {
    text-decoration: underline;
}