{% extends "base.html" %}

{% block content %}

<div class="container">

<h2>{{ event.title }}</h2>

<h3>Host: {{ event.host.username }}</h3>


<ul>
    <li><p>Location: {{ event.location }}</p></li>
    <li><p>Venue: {{ event.venue }}</p></li>
    <li><p>Starts at: {{ event.start_time }}</p></li>
    <li><p>Ends at: {{ event.end_time }}</p></li>


    <li><p>Best suited for: {% for event in event.categories.all %}</p></li>
    {{ event.name }}</p>
    {% endfor %}
</ul>

</div>


{% endblock %}