{% extends "base.html" %}

{% block content %}


    <h2 class="title">Upcoming events</h2>
    {% if events_list %}
        {% for event in events_list %}
            {% include "./detailsBox.html" with event=event %}
        {% endfor %}
        
    {% else %}
        <p>No current events are available.</p>
    {% endif %}

        <h2 class="title">Can't find what you're looking for?</h2>

    <a href="{% url 'eventFinderApp:addevent' %}"> <button id="new-event">+ Add an new event</button></a>


{% endblock %}


